.productListSection {
  width: 59%;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  color: #3c3d37;
  font: 400 24px 'BM HANNA_TTF', -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
  margin: 0 0 15px 0; /* margin 수정 */
  height: 35px; /* 제목 높이 고정 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.productList {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  flex-wrap: wrap;
  padding: 24px;
  overflow-y: auto;
  max-height: 500px;
  scrollbar-width: thin;
  scrollbar-color: #697565 #f0f0f0;
}

/* 스크롤바 스타일링 (Chrome, Safari, Edge) */
.productList::-webkit-scrollbar {
  width: 8px;
}

.productList::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.productList::-webkit-scrollbar-thumb {
  background-color: #697565;
  border-radius: 4px;
}

@media (max-width: 991px) {
  .productListSection {
      width: 100%;
  }

  .productList {
      padding: 18px 20px;
  }
}